:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Dark theme colors */
  --first: #b7b7ff;
  --second: #a5a5ff;
  --background: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Light theme colors */
    --first: #4a4aff;
    --second: #3636cc;
    --background: #d3d3ff;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--first);
  background-color: var(--background);
}

a {
  font-weight: 500;
  color: var(--first);
  text-decoration: inherit;
}
a:hover {
  color: var(--second);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--first);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
